<div class="dashboard-container">
  <button class="dashboard-button" (click)="navigateToPage('/business-loan')">Business Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/education-loan')">Education Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/home-loan')">Home Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/instant-loan')">Instant Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/other-loan')">Other Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/production-loan')">Production Loan</button>
  <button class="dashboard-button" (click)="navigateToPage('/car-loan')">Car Loan</button>
</div>
